<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- log output to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender" encoding="">
        <encoder>
            <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.itextpdf.layout.renderer.RootRenderer" level="ERROR" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>